<a [routerLink]="['/login']">Cerrar sesión</a>
<h1>{{ titulo }}</h1>
<table>
    <thead>
        <td>{{headerTabla.t1}}</td>
        <td>{{headerTabla.t2}}</td>
        <td>{{ headerTabla.t3 }}</td>
        <td>{{ headerTabla.t4 }}</td>
    </thead>
    <tbody>
        @for (cochera of cocheras; track $index) {
            <tr>
                <td>{{cochera.numero}}</td>
                <td>
                    <span>[ngClass]="{'disponible': cochera.disponible,'ocupado': cochera.ocupado"}</span>
                </td>
                <td>{{cochera.ingreso}}</td>
                <td class="acciones-container">
                    @if(cochera.disponible){
                        <button (click)="deshabilitarCochera($index)"><img/icons/trash-solid.svg></button>
                    } @else {
                        <button (click)="habilitarCochera($index)"><img src="img/icons/check-solid.svg"></button>
                    }
                    <button (click)="borrarFila($index)"><img src="img/icons/coins-solid.svg"></button>
                </td>
            </tr>
        }
    </tbody>
</table>
@if(esAdmin){
    <button (click)="agregarCochera()" class="boton-resaltado" id="agregar-cochera">+</button>
}
</main>